body{
    background-color: whitesmoke;
    font-family:'Syne', sans-serif;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style-type: none;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
p{
    text-align: center;
}
@font-face {
    font-family: font1;
    src: url(font/Syne-VariableFont_wght.ttf);
}